
.container {
    display: flex;         
    height: 100vh;         
}
  
.left{
    flex: 1;              
    display: flex;         
    justify-content: flex-end;
    align-items: center;
}

.right{
    flex: 1;               
    display: flex;         
    justify-content: center; 
    align-items: center;    
}

.left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    
    button,
    mat-form-field {
        width: -webkit-fill-available;
    }

    mat-form-field{
        margin-bottom: 10px;
    }

    button {
        margin: 5px 0;

        &[mat-button] {
            width: auto;
        }
    }

    .forget-password-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

}

h2{
    color: #005cbb;
}

  