
<div class="container" >

    <div class="left">
        <div class="image-container">
            <img 
                src="expense-tracker.png" 
                alt="Logo Image">
        </div>
    </div>

    <div class="right">
<!-- SignIn form -->
        <div [ngClass]="{'hidden': isFormHidden}">
            <form 
                [formGroup]="signInForm" 
                *ngIf="!isSignUpClicked"
                (ngSubmit)="onLoginSubmit(signInForm.value.email, signInForm.value.password)"
            >
                <h2>
                    Welcome to Expense Tracker!
                </h2>
    
                <mat-form-field>
                    <mat-label>
                        Email
                    </mat-label>

                    <input 
                        matInput 
                        type="email" 
                        placeholder="Ex: pat@example.com" 
                        formControlName="email"
                    >

                    <mat-error *ngIf="signInForm.get('email')!.hasError('required')">
                        Email is required
                    </mat-error>

                    <mat-error *ngIf="signInForm.get('email')!.hasError('email')">
                        Email is invalid
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Password
                    </mat-label>

                    <input 
                        matInput
                        type="password"  
                        placeholder="Password" 
                        formControlName="password" 
                        [type]="hide ? 'password' : 'text'"
                    >                

                    <button 
                        mat-icon-button 
                        matSuffix 
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>
                            {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>

                    <mat-error *ngIf="signInForm.get('password')!.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <button 
                    mat-flat-button 
                    type="submit"
                    color="primary" 
                    [disabled]="!signInForm.valid"
                    test-id="login-button"
                >
                    LOGIN
                </button>

                <button 
                    mat-stroked-button 
                    type="button"  
                    color="primary" 
                    (click)="onDontHaveAccount()"
                    test-id="register-button"
                >
                    Don't have an account? REGISTER
                </button>    
            </form>
        </div>

<!-- SignUp Form -->
        <div [ngClass]="{'hidden': isFormHidden}">

            <form 
                [formGroup]="signUpForm" 
                *ngIf="isSignUpClicked"
                (ngSubmit)="onRegisterSubmit(signUpForm.value.email, signUpForm.value.password, signUpForm.value.repeatPassword)"
            >
                <h2>
                    Create your new account
                </h2>
                
                <mat-form-field>
                    <mat-label>
                        Email
                    </mat-label>

                    <input 
                        matInput
                        type="email"  
                        placeholder="Ex: pat@example.com" 
                        formControlName="email"
                    >

                    <mat-error *ngIf="signUpForm.get('email')!.hasError('required')">
                        Email is required
                    </mat-error>

                    <mat-error *ngIf="signUpForm.get('email')!.hasError('email')">
                        Email is invalid
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Password
                    </mat-label>

                    <input 
                        matInput 
                        type="password" 
                        placeholder="Password" 
                        formControlName="password" 
                        [value]="signUpForm.get('password')?.value" 
                        #password 
                        [type]="hide ? 'password' : 'text'"
                    >

                    <button 
                        mat-icon-button 
                        matSuffix 
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>
                            {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>

                    <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
                        Password is required
                    </mat-error>

                </mat-form-field>
                    
                <mat-form-field appearance="fill">
                    <mat-label>
                        Repeat Password
                    </mat-label>

                    <input 
                        matInput 
                        type="password" 
                        placeholder="Repeat Password" 
                        formControlName="repeatPassword" 
                        (input)="checkPasswords()"
                        [value]="signUpForm.get('repeatPassword')?.value" 
                        #repeatPassword 
                        [type]="hideRepeatPassword ? 'password' : 'text'"
                    >

                    <button 
                        mat-icon-button 
                        matSuffix 
                        (click)="hideRepeatPassword = !hideRepeatPassword" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hideRepeatPassword"
                    >
                        <mat-icon>
                            {{hideRepeatPassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>

                    </button>

                    <mat-error *ngIf="signUpForm.get('repeatPassword')?.hasError('required')">
                        Repeat password is required
                    </mat-error>

                    <mat-error *ngIf="signUpForm.get('repeatPassword')?.hasError('passwordMismatch')" 
                    >
                        Password do not match
                    </mat-error>

                </mat-form-field>
                
                <button 
                    mat-flat-button 
                    type="submit"
                    color="primary" 
                    [disabled]="!signUpForm.valid"
                    test-id="register-button"
                >
                    REGISTER
                </button>

                <button 
                    mat-stroked-button 
                    color="primary" 
                    type="button"
                    (click)="onAlreadyHaveAccount()"
                    test-id="login-button"
                >
                    Already have an account? LOGIN
                </button>

            </form>
        </div>
    </div>

</div>
